* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --background-color: #0a192f;
  --white: #fff;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
  color: var(--white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  background-color: #39a7a7;
  height: 8rem;
}
#brand a {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
#navbarSupportedContent ul li a {
  color: var(--white);
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
#navbarSupportedContent ul li a:hover {
  color: #eeeeee;
  text-decoration: underline;
  transform: translateY(0.2rem);
}
#main {
  text-align: center;
  position: relative;
  top: 10rem;
  width: 100vw;
  height: 80vh;
}
#main p {
  font-weight: bold;
  font-size: 2rem;
  color: #64ffda;
}
#main h1 {
  font-weight: bold;
  color: #ccd6f6;
  text-transform: uppercase;
  font-size: 8rem;
}
#main span,
.card span {
  color: #cdb400;
}
#main h6 {
  color: #ccd6f6;
  font-size: 2rem;
}
#main .card {
  width: 100%;
  background-color: transparent;
  margin: 5rem 0;
  padding: 3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 5rem;
}
#main .card p {
  color: #eeeeee;
  font-size: 1.5rem;
}
#about {
  position: relative;
  margin-top: 10rem;
}
.responsive {
  width: 100%;
  height: auto;
}
.vline {
  border-left: 5px solid #cdb400;
  height: 3rem;
}
#about .card {
  width: 100%;
  background-color: transparent;
  margin: 1rem 0;
  padding: 3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  font-size: 1.5rem;
}
#about a {
  width: 20rem;
  height: 4rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
#about .alignbtn {
  text-align: center;
  margin: 5rem 0;
}
#education {
  position: relative;
  margin-top: 10rem;
}
#education .resume-wrap {
  display: flex;
  flex-wrap: wrap;
}
#education .resume-wrap h1 {
  color: #cdb400;
  font-weight: bold;
  font-size: 3rem;
}
#education .resume-wrap span {
  color: #ccd6f6;
  font-size: 2rem;
}
#education .resume-wrap p {
  color: #eeeeee;
  font-size: 1.5rem;
}
#skills {
  position: relative;
  margin-top: 10rem;
}
.skills {
  margin: 5rem auto;
  text-align: center;
}
.skills .imageicons img {
  margin: 3rem 5rem;
}
#projects {
  margin-top: 10rem;
  position: relative;
}
.project {
  margin: 8rem 0;
}
#projects .project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#projects .project .card {
  padding: 5rem 1rem;
  background-color: transparent;
  border-bottom-left-radius: 5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
  width: 35rem;
  font-size: 1.5rem;
  text-align: center;
}
.project a {
  text-decoration: none;
  color: #ccd6f6;
}
.project .card-title {
  font-weight: bold;
  font-size: 2rem;
  color: #39a7a7;
}
#contact {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
#contact p {
  font-size: 1.5rem;
  text-align: center;
  margin: 5rem 0;
  color: #ccd6f6;
}
#contact .contactlinks {
  text-align: center;
}
#contact .contactlinks ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#contact .contactlinks ul li {
  font-size: 2rem;
  margin: 2rem;
}
#contact .contactlinks ul li a {
  color: #000;
  background-color: #cdb400;
  border-radius: 1rem;
  padding: 1.5rem;
}
footer {
  text-align: center;
  height: 5rem;
}
footer a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #64ffda;
}
